<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

/* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }

/* Center text */
.topic {
  text-align: center;
}

/* Center text and colored header 708238*/
.topic-header {
  text-align: center;
  background-color: #FCC201;
}

/* White background*/
.about {
  background-color: #FFFFFF;
}
