

/* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height: 100%;
}

/* Header */
.Header {
  text-align: center;
  font-family: "Times New Roman", Times, serif; font-size: 128px;
}

/* Center text */
.topic {
  text-align: center;
}

/* Center text and colored header 708238*/
.topic-header {
  text-align: center;
  background-color: #708238;
}

/* White background*/
.about {
  background-color: #FFFFFF;
}

/*title for news articles*/
.title{
  font-family: "Times New Roman", Times, serif; font-size: 42px;
}
  
/*paragraph content for news articles*/
.content{
  font-family: "Times New Roman", Times, serif; font-size: 20px;
}
