

/* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height: 100%;
}

/* Header */
.Header {
  text-align: center;
  font-family: "Times New Roman", Times, serif; font-size: 115px;
}

/* Content on pages*/
.topic {
  text-align: center;
  font-family: "Times New Roman", Times, serif; font-size: 20px;
}

/* Headers for content on page */
.topic-header {
  text-align: center;
  background-color: #014f16;
  color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  font-family: "Times New Roman", Times, serif; font-size: 42px;
}

/* White background*/
.about {
  background-color: #FFFFFF;
}

/*title for news articles*/
.title{
  font-family: "Times New Roman", Times, serif; font-size: 42px;
}
  
/*paragraph content for news articles*/
.content{
  font-family: "Times New Roman", Times, serif; font-size: 20px;
}
