<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="/">Home</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item {% if active_page == "page1" %} active{% endif %}">
        <a class="nav-link" href="/page1">About</a>
      </li>
      <li class="nav-item {% if active_page == "page2" %} active{% endif %}">
        <a class="nav-link" href="/page2">Maker's</a>
      </li>
      <li class="nav-item{% if active_page == "page3" %} active{% endif %}">
        <a class="nav-link" href="/page3">Botball</a>
      </li>
      <li class="nav-item{% if active_page == "news" %} active{% endif %}">
        <a class="nav-link" href="/news">News</a>
      </li>
    </ul>
    <ul class="navbar-nav">
    	{% if logged_in %}
	    <li><span class="navbar-text">Github user-ID: {{ session['user_data']['login']}}</span></li>
	    <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
	{% else %}
	    <li class="nav-item"><a class="nav-link" href="/login">Admin Login</a></li>
	{% endif %}
     </ul>
  </div>
</nav>
