{% extends "layout.html" %}

<!-- Botball Title -->
{% block title %}Botball{% endblock %}

{% block content %}
  
<!-- class "Header" for LARGE tittle followed by images and text --> 
  <div class = "Header">
    <p>Botball</p>
  </div>
  
<!-- Carousel of Images using BS4 -->
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src={{url_for('static', filename='Scorpion.jpg')}} alt="Small bot robot" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src={{url_for('static', filename='Group.jpg')}} alt="Group photo" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src={{url_for('static', filename='Botball_Trophy.jpg')}} alt="3rd Place Trophy" width="1100" height="500">
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<!-- Full text -->
<h1> Welcome to Botball! </h1>

<br>
<br>

<h2> What is Botball? </h2>
<p> Botball is a competition that our club competes in annually, starting in February, and cummulating in April.</p>

<br>
<br>

<h2> What skills do I need to know to participate? </h2>
<p> You do not need any skills in coding or robotics to participate! We will help you learn along the way. </p>

<br>
<br>

<h2> What language is used for the Botball competition? </h2>
<p> We use Robot C in the Botball competition. </p>

<br>
<br>
 
<h2> What hardware is used for the Botball competition? </h2>
<p> We use KIPR Wombats as our computers. </p>

<br>
<br>

<h2> What does the competition entail? </h2>
<p> In the Botball competition, we build a new competition board every year, 
  each with different challenges for our robots to accomplish. We also work with the Wombats, servos and motors to
  create our robots. We compete against other teams to score the most points on our board with a pre-programmed course.</p>

{% endblock %}
