{% extends "layout.html" %}

<!-- Title -->
{% block title %}Maker's Space{% endblock %}

{% block content %}
  
<!-- class "Header" for LARGE title on followed by images and text --> 
  <div class = "Header">
    <p>Maker's Space</p>
  </div>
  
<!-- Carousel of Images using BS4 -->
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src={{url_for('static', filename='3D_Printer.jpg')}} alt="3D Printer" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src={{url_for('static', filename='Tools.jpg')}} alt="Tools" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src={{url_for('static', filename='Laser_Cutter.jpg')}} alt="Laser Cutter" width="1100" height="500">
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<!-- Full text -->

<div class="topic-header">
    <h2>What is a Maker Space?</h2>
</div>

<div class="topic">
    <p> 
      A maker space is an environment in which resources are provides to encourge development of projects in
      engineering, computer science, entrepreneurship, or just for fun! By providing the tools needed to create
      prototypes and the space to discuss and develop ideas, the club promotes an environment for students to bring
      their ideas to life. 
    </p>
</div>

<div class="topic-header">
    <h2>What Resources Are Available?</h2>
</div>

<div class="topic">
    <p> 
      The club has a wide array of tools and resources available to its members including multiple 3D printers,
      an electronics repair kit, a wide array of hand tools and power tools, computers, and legos. Additionally, 
      the club supervisor and club members are also invaluable resources to help develop ideas and troubleshoot!
    </p>
</div>

<div class="topic-header">
    <h2>3D Printing</h2>
</div>

<div class="topic">
    <p> 
      3D printing is an invaluable way to create prototypes and concrete products. The club has access to multiple
      3D printers and 3D modeling software. No expirience is needed and you can learn everything you need to know 
      about how to 3D print!
    </p>
</div>


{% endblock %}
